<style type="text/css">
.faceimg {
    padding-right: 25px;
    padding-left: 20px;
    padding-top: 43px;
    padding-bottom: 70px;
    background-image: url('{{ site.baseurl }}/assets/images/faces/face.png');
    background-repeat: no-repeat;
}
</style>
<div id="escape" class="faceimg" style="position: absolute; left: 100px; top: 100px">
  <div class='eye'></div>
  <div class='eye'></div>
</div>


{% comment %}<!--
https://jsfiddle.net/trusktr/CmAuZ/
https://codepen.io/J-Roel/pen/wWGNQN
 -->{% endcomment %}
