<nav role="navigation" id="js-menu" class="sliding-menu-content">
  <h5>{{ site.title }} <span>Content</span></h5>
  <ul class="menu-item">

    <div>
      <li><a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="">

      {% if site.image != null %}
        <img src="{{ site.baseurl }}/assets/images/{{ site.image }}" alt="teaser" class="teaser">
      {% endif %}
      <div class="title">
      {% if site.fawesome != null %}
        <i class="fa {{ site.fawesome }}  fa-fw" aria-hidden="true"></i>
      {% endif %}
      Home</div></a></li>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}


    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}

        {% if node.layout == "page" %}
          <li><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/{{ node.url  | remove_first: '/' }}">
            {% if node.image != null %}
              <img src="{{ site.baseurl }}/assets/images/{{ node.image }}" alt="teaser" class="teaser">
            {% endif %}
            <div class="title">
            {% if node.fawesome != null %}
              <i class="fa {{ node.fawesome }} fa-fw" aria-hidden="true"></i>
            {% endif %}
            {{ node.title }}</div></a></li>

        {% endif %}
      {% endif %}
    {% endfor %}
    </div>

  </ul>
</nav>
<button type="button" id="js-menu-trigger" class="sliding-menu-button lines-button x2" role="button" aria-label="Toggle Navigation">
  <span class="nav-lines"></span>
</button>





<div id="js-menu-screen" class="menu-screen"></div>
