<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
		</head>
		<body>
			<nav>
        <ul>
            <li><a href="/julmat">Etusivu</a></li>
            <li><a href="/julmat/ilmo">Ilmo</a></li>
            <li><a href="/julmat/info">Info</a></li>
            <li><a href="/julmat/blog">Blogi</a></li>
        </ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
        <ul>
            <li><a href="mailto:matsojala@gmail.com">email</a></li>
            <li><a href="https://github.com/Amatson">github.com/Amatson</a></li>
      </ul>
			</footer>
		</body>
	</html>
